@import "./config";

@media only screen and (min-width: $desktop){
  body {
    @include nunito-title;
    @include nunito-subtitle;
    @include nunito-paragraf;
  }

  .sobreMim div p {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .sobreMim div {
    height: 700px !important;
  }

  .sobreMim__habilidades li img{
      max-height: 100px !important;
      margin-top: 20px !important;
  } 
  .sobreMim__habilidades2 li img{
    max-height: 100px !important;
    margin-top: 20px !important;
  } 
  .sobreMim__habilidades2 li {
    text-align: center;
    margin: 0 auto;
  }
  #sass-imagem{
    width: 100px !important;
    height: 50px !important;
    margin-top: 25px !important;
  }

  .cursos {
    margin-left: -20px !important;
    margin-top: 20px !important;
  }
  
  .portfolio div {
    display: inline-block;
    float: top;
    margin-left: 10px !important;
    margin-right: 10px !important;
    img {
      max-height: 200px !important;
      max-width: 500px !important;
    }
  }

}