.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

body {
  background: linear-gradient(to top right, #3c6cb5, #008fd2, #00b0dd, #00cfd7, #12ebc5);
}

.logo {
  max-width: 350px;
  height: auto;
  max-width: 350px;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  opacity: 0;
  animation: fadeIn 1.5s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.menu {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
}
.menu li {
  list-style: none;
  margin: 20px auto;
  width: 150px;
  height: 40px;
  background-color: #f8f8ff;
  display: inline;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #008fd2;
}
.menu li:hover {
  color: #f8f8ff;
  background-color: #12ebc5;
}

.container .boas-vindas img {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  margin-top: 20px;
}
.container .boas-vindas h1 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #f8f8ff;
  text-align: center;
}
.container .boas-vindas h2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #f8f8ff;
  text-align: center;
  letter-spacing: 5px;
}

.sobre-mim div {
  display: block;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  margin-top: 60px;
  height: 500px;
  width: 90%;
  background-color: #f8f8ff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sobre-mim div h2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 20px;
}
.sobre-mim div .habilidades {
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}
.sobre-mim div .habilidades li {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}
.sobre-mim div .habilidades li img {
  max-height: 50px;
}
.sobre-mim div .habilidades li #sass-imagem {
  width: 50px;
  height: 25px;
  margin-top: 10px;
}
.sobre-mim div .habilidades2 {
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}
.sobre-mim div .habilidades2 li {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}
.sobre-mim div .habilidades2 li img {
  max-height: 50px;
}
.sobre-mim div .habilidades2 li #sass-imagem {
  width: 50px;
  height: 25px;
  margin-top: 10px;
}
.sobre-mim p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #292929;
  margin-top: 20px;
}

.cursos {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #fece2f;
  border-width: 2px;
  text-decoration: none;
  color: #fece2f;
  font-weight: bold;
  padding: 5px;
}

.cursos:hover {
  color: #f8f8ff;
  background-color: #fece2f;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -180px;
}
.tooltip .tooltiptext li {
  list-style: none;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.portfolio div {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.portfolio h2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: #f8f8ff;
  text-transform: uppercase;
  font-weight: bold;
}
.portfolio .catalogo {
  margin: 0 auto;
}
.portfolio img {
  max-width: 300px;
  height: 300px;
}
.portfolio .catalogo {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  display: block;
  height: 40px;
  background-color: #fece2f;
  text-decoration: none;
  color: #f8f8ff;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

footer {
  background-color: #2c2c2e;
  color: #f8f8ff;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .contato {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: solid;
  border-color: #fece2f;
  border-width: 2px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}
footer .contato a {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: #f8f8ff;
}
footer .contato li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

/*# sourceMappingURL=style.css.map */
